__pycache__/Box.cpython-39.pyc
__pycache__/Datas.cpython-39.pyc
__pycache__/Functions.cpython-39.pyc
__pycache__/Grade.cpython-39.pyc
__pycache__/Output.cpython-39.pyc
build/Main/Analysis-00.toc
build/Main/base_library.zip
build/Main/EXE-00.toc
build/Main/Main.pkg
build/Main/PKG-00.toc
build/Main/PYZ-00.pyz
build/Main/PYZ-00.toc
build/Main/Tree-00.toc
build/Main/Tree-01.toc
build/Main/warn-Main.txt
build/Main/xref-Main.html
build/Main/localpycos/struct.pyo
dist/Calc
